@font-face {
	font-family: "MarkPro-LightItalic";
	src: url("fonts/MarkPro/MarkPro-LightItalic.otf");
}

@font-face {
	font-family: "MarkPro-Bold";
	src: url("fonts/MarkPro/MarkPro-Bold.otf");
}

@font-face {
	font-family: "MarkPro-BoldItalic";
	src: url("fonts/MarkPro/MarkPro-BoldItalic.otf");
}

@font-face {
	font-family: "MarkPro-Italic";
	src: url("fonts/MarkPro/MarkPro-Italic.otf");
}

@font-face {
	font-family: "MarkPro-Light";
	src: url("fonts/MarkPro/MarkPro-Light.otf");
}

@font-face {
	font-family: "MarkPro-Medium";
	src: url("fonts/MarkPro/MarkPro-Medium.otf");
}

@font-face {
	font-family: "MarkPro-MediumItalic";
	src: url("fonts/MarkPro/MarkPro-MediumItalic.otf");
}

@font-face {
	font-family: "MarkPro";
	src: url("fonts/MarkPro/MarkPro.otf");
}

@font-face {
	font-family: "Rubik-Black";
	src: url("fonts/Rubik/Rubik-Black.ttf");
}

@font-face {
	font-family: "Rubik-BlackItalic";
	src: url("fonts/Rubik/Rubik-BlackItalic.ttf");
}

@font-face {
	font-family: "Rubik-Bold";
	src: url("fonts/Rubik/Rubik-Bold.ttf");
}

@font-face {
	font-family: "Rubik-BoldItalic";
	src: url("fonts/Rubik/Rubik-BoldItalic.ttf");
}

@font-face {
	font-family: "Rubik-Italic";
	src: url("fonts/Rubik/Rubik-Italic.ttf");
}

@font-face {
	font-family: "Rubik-Light";
	src: url("fonts/Rubik/Rubik-Light.ttf");
}

@font-face {
	font-family: "Rubik-LightItalic";
	src: url("fonts/Rubik/Rubik-LightItalic.ttf");
}

@font-face {
	font-family: "Rubik-Medium";
	src: url("fonts/Rubik/Rubik-Medium.ttf");
}

@font-face {
	font-family: "Rubik-MediumItalic";
	src: url("fonts/Rubik/Rubik-MediumItalic.ttf");
}

@font-face {
	font-family: "Rubik-Regular";
	src: url("fonts/Rubik/Rubik-Regular.ttf");
}
